@import "@blueprintjs/core/lib/scss/variables";

.Loader--container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%; 
  z-index: $pt-z-index-overlay;
}

.Loader--spinner {
  flex: 1;
}
