.TagBar--container {
  display: flex;
  margin-left: auto;
}

.ColorTag--wrapper {
  width: 24px;
  height: var(--status-bar-height);
  padding: 7px 4px;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background: var(--tag-hover-background);

    .ColorTag--action-icon {
      display: unset !important;
    }
  }
}

.ColorTag--tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: var(--tag-border);
}

.ColorTag--action-icon {
  display: none !important;
}
