.Editor--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  background-color: var(--background-color-primary)
}

.Editor--editor {
  flex: 1;
}
