.root {
  display: flex;
  flex-direction: column;
  -webkit-app-region: drag;
}

.container,
.searchContainer {
  display: flex;
  justify-content: flex-end;
  height: var(--header-height);
  margin-right: 10px;
  align-items: center;
}

.searchContainer {
  margin-bottom: 8px;
  margin-left: 11px;
  margin-right: 10px;
}
