.SnippetListElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 5px 5px 5px 15px;
}

.SnippetListElement-active {
  background-image: var(--active-snippet);
}
