.SnippetListHeader {
  display: flex;
  flex-direction: column;
  -webkit-app-region: drag;
}

.SnippetListHeader--container {
  display: flex;
  justify-content: flex-end;
  height: var(--header-height);
  margin-right: 10px;
  align-items: center;

  &.bottom {
    margin-bottom: 8px;
    margin-left: 11px;
    margin-right: 10px;
  }
}
