.SnippetList--container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color-secondary);
  border-right: var(--list-container-border);
}

.SnippetList--divider {
  height: 1px;
  margin-left: -50px;
  background-image: var(--divider);
}
