.Header--container {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  -webkit-app-region: drag;
}

.Header {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 0 0 120px;
  padding-left: 10px;
}

.Header--snippet-title {
  margin-left: 20px;
}