@import "~normalize.css";
@import "./svg-icon-overrides.scss"; // https://github.com/palantir/blueprint/issues/2976#issuecomment-479231949
@import "~@blueprintjs/core/src/blueprint.scss";

html {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

body {
  overflow: hidden;
}

input, button, textarea, :focus {
  outline: none;
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
